* {
	box-sizing: border-box;
}
section {
    margin: 0 auto;
    max-width: 900px;
}

p, a, h2, h3, h4, input, .text {
	font-family: consolas, monospace, sans-serif;
}

p, a, input, .text {
    font-size: 0.9rem;
}

#maps h4 {
    color: #777777;
    margin: 0 0 5px;
    font-size: 1rem;
}

#maps h3 {
    margin: 5px 0 0;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    font-size: 1.3rem;
}

form {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    margin-right: 3px;
}

img.info {
    position: absolute;
    height: 18px;
    top: 3px;
    right: 0;
}

img.info.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

img.info.visible {
    visibility: visible;
    opacity: 1;
}

img.info.loading.hidden {
    transition: none;
}

div.github-button {
    float: right;
    padding: 5px 0;
}

textarea#Output {
    resize: none;
    height: 74px;
}

@media screen and (max-width: 900px) {
    #imc {
      display:none;
    }
}